/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

// Colors
$green: #137e6d;
$midgreen: 	#255655;
$background: 	#24313d;
$text: #F9F6EE;
$white: #FFF;
$blue: #ADC4DD;

$navbar-bg: $green;
$navbar-fg: $text;
$navbar-hl: $white;
$body-bg: $background;
$body-color: $text;
$link-color: $blue;
$code-bg: $midgreen;
$code-color: $white;